{{>head}}
{{>navbar}}
 <div class="row">
    <div class="col-8">
        <h3>The Weather Channel </h3>
        <p>The Weather Channel es una cadena estadounidense de pronósticos del tiempo lanzada en 1982. La marca registrada de este canal es el Local on the 8s, un bloque en que pasan previsiones locales para la localidad donde es transmitido cada diez minutos comenzando en el minuto ocho de cada hora.
            Antes conocido solamente por el nombre de "Weather Forecast" (Pronóstico Local), el Local on the 8s es un bloque donde se utilizan las tecnologías WeatherStar para mostrar computadorizadamente el pronóstico del tiempo para regiones locales cada diez minutos comenzando a los ocho minutos de cada hora. Desde el año 1996, el bloque tiene el nombre actual de Local on the 8s.</p>
    </div>
    <div class="col-4">
      <img src="assets/img/tiempo.jpg" class="img-thumbnail">
    </div>
</div>

{{>footer}}