<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> navbar}}
    <div class="jumbotron">
        <h1>Pagina del Tiempo</h1>
        <p>El clima se define como las condiciones meteorológicas medias que caracterizan a un lugar determinado. Es una síntesis del tiempo atmosférico, obtenida a partir de estadísticas a largo plazo. Los elementos meteorológicos a tomar en cuenta son
            la temperatura, la presión, el viento, la humedad y la precipitación.</p>
        <p>El clima difiere del tiempo meteorológico en que la meteorología solo describe las condiciones de corto plazo.</p>
        <p>El clima de una ubicación está afectado por su latitud, altitud, orientación del relieve, distancia al mar y corrientes marinas, que constituyen lo que se conoce como factores modificadores del clima.</p>
        <form role="form">
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>
            </div>
        </form>
    </div>
    <h1></h1>
    <p></p>
    {{> footer }}
    
</body>

</html>